<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomIdentityApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomIdentityApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header>
        <h1 class="logo">Logo</h1>
        <ul class="nav">
            <li><a href="/Home/Index">Main</a></li>
            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
            {
                <li><a href="/Users/Index">User management</a></li>
                <li><a href="/Roles/Index">Role management</a></li>
            }
            else
            {
                <li><a href="#">Аbout us</a></li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="/Users/EditForUser">Update my data</a></li>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Выход" />
                </form>
            }
            else
            {
                <li><a href="/Account/Register">Registration</a></li>
                <li><a href="/Account/Login">Sign In</a></li>
            }

        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CustomIdentityApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
