@model CustomIdentityApp.Models.User
@{
    ViewBag.Title = "Забыл пароля";
}
<h2 class="text">Изменение пароля для пользователя</h2>

<form asp-action="ChangePasswordForUser" asp-controller="Users"  method="get" asp-antiforgery="true">
    <div>
        <div>
            <label class="text" asp-for="Email"></label>
            <input type="text" asp-for="Email" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>